<div class="container inner">
    <h2 class="secondaryHeader">Buy Art</h2>
</div> 

<div class="container inner">
     <p>Great ... so all this is coming from my data.json file ...</p>
</div> 

<div class="container inner ">
  {{#each artwork}}
    <div >
        <a href="/artwork/{{id}}"><img class="imagesBuyArtPage" src="{{image}}" alt="{{name}}"></a>
        <h3 class="">{{name}}</h3>
        <h3 class="">{{price}}</h3>
    </div>

  {{/each}}

</div>

<hr>

<div class="container inner">
    <h2>The following discounts apply to the marked price. Please indicate relevant options with Y/N.</h2>
</div>

{{!-- <div class="container inner">
    <p> <!--EDA STUDENT DISCOUNT 20% = $88 -->
    <input type="checkbox" id="edaStudent" name="edaStudent" value="edaStudent">
    <label for="edaStudent"> EDA student discount</label> <br>
    </p>


    <p> <!--EDA STAFF DISCOUNT 30% = $77 -->
    <input type="checkbox" id="edaStaff" name="edaStaff" value="edaStaff">
    <label for="edaStaff"> EDA staff discount</label> <br>
    </p>

    <p> <!--EDA cool STAFF DISCOUNT - remove $7 = $70 -->
    <input type="checkbox" id="edaCoolStaff" name="edaCoolStaff" value="edaCoolStaff">
    <label for="edaCoolStaff"> If you're also a pretty cool person and work at EDA, check for further discount.</label> <br> <br
    ></p>


    <p> <!--EDA Cool Student DISCOUNT - remove $18 = $70 -->
    <input type="checkbox" id="edaCoolStaff" name="edaCoolStaff" value="edaCoolStaff">
    <label for="edaCoolStaff"> If you're also a pretty cool person and a student at EDA, check for further discount.</label> <br>
    </p>

</div> --}}

<div class="inner container">
  <form class="form" action="/buyArtPage" method="post">
  
  <label for="name">
    EDA student discount:
    <input type="text" name="studentDiscount" value="{{studentDiscount}}">
  </label>
  
  <label for="artist">
    EDA staff discount:
    <input type="text" name="staffDiscount" value="{{staffDiscount}}">
  </label>
  
  <label for="price">
    Cool Person:
    <input type="text" name="coolPerson" value="{{coolPerson}}">
  </label>
  
  <input type="submit" name="" value="Submit">
</form>
</div>

